* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    background-color:#5c40ff;
    border-top: #27274b solid 6px;
    display: flex;
    justify-content: center;
}

.header {
    width: 85%;
    height: 10vh;
    background-color:#5c40ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#logo {
    width: 110px;
    margin: 5px 0;
    cursor: pointer;
}

.menu-login {
    list-style: none;
    font-weight: 500;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    background-color: #27274b;
    border: #5c40aa solid 2px;
    border-radius: 6px;
}

#reverse-fix {
    display: flex;
    flex-direction: row-reverse;
}

#toperfil {
    display: flex;
    flex-direction: row-reverse;
}

#tologin {
    display: flex;
    flex-direction: row-reverse;
}

#toreservas {
    display: flex;
    flex-direction: row-reverse;
}

.menu-login li {
    color: #fff;
    font-size: 12px;
    display: block;
    text-decoration: none;
    /* border-radius: 6px; */
    padding: 10px;
    cursor: pointer;
}

.menu-login li:hover {
    color: #5c40aa;
}

.veiculos {
    width: 100%;
    background-color: #111;
    display: flex;
    justify-content: center;
}
.veiculos ul {
    display: flex;
    justify-content: center;
}

.menu-veiculos {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.menu-veiculos li a {
    width: 150px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    display: block;
    text-decoration: none;
    background-color: #27274b;
    padding: 5px 5px;
    margin: 0 1px;
}

.menu-veiculos li a:hover {
    background-color: #5c40ff;
    /* transition-property: background-color;
    transition-duration: 0.5s; */
}

.menu-veiculos li a:active{
    background-color: #5c40ff;
}

.menu-veiculos > li > a > img{
    width: 20px;
    margin-right: 10px;
    filter: invert(1);
}

.input {
    width: 100%;
    height: 40px;
    margin: 1px;
    display: flex;
    background-color: #fff;
    box-shadow: 2px 2px 7px #27274b33;
    border: #5c40aa solid 1px;
    /* border: 1px solid #27274b; */
    border-radius: 6px;
}

.input input {
    width: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 10px;
}

button {
    width: 100%;
    height: 40px;
    margin: 2px;
    color: #fff;
    background-color: #27274b;
    box-shadow: 2px 2px 7px #27274b33;
    /* border: none; */
    border-radius: 6px;
    cursor: pointer;

    
    border: #5c40aa solid 2px;
    /* text-transform: uppercase;
    font-weight: 700;
    font-style: italic; */
}

section > form > button {
    min-width: 100px;
    max-width: 150px;
}

button:hover {
    background-color: #5c40ff;
    /* transition-property: background-color;
    transition-duration: 0.5s; */
}

i {
    margin-right: 10px;
}

h1 {
    color: #333;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    margin: 20px;
}

h1 > i {
    color: #5c40ff;
}

h2 {
    font-size: 16px;
}

img {
    width: 100%;
}

footer {
    width: 100%;
    padding: 5vh;
    color: #fff;
    text-align: center;
    background-color: #27274b;
    display: block;
    border-bottom: #5c40ff solid 10px;
}

footer > div > ul  {
    color: #fff;
    font-weight:500;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    /* text-transform: uppercase; */
}

footer > div > ul > li {
    margin: 15px;
    /* text-transform: uppercase; */
}

.copyright {    
    margin: 30px 0;
}

@media (max-width: 1000px) {
    header {
        padding: 20px;
    }
    .header {
        width: 90%;
    }
}

@media (max-width: 450px) {
    .header {
        justify-content: center;
        align-items: center;
        height: 20%;
    }
    #logo {
        margin: 10px;
    }
}